{% layout none %}

<script type="text/javascript">
if (!window.Shopify || !window.Shopify.designMode) {
  const observer = new MutationObserver(e => { e.forEach(({ addedNodes: e }) => { e.forEach(e => { 1 === e.nodeType && "SCRIPT" === e.tagName && (e.innerHTML.includes("asyncLoad") && (e.innerHTML = e.innerHTML.replace("if(window.attachEvent)", "document.addEventListener('asyncLazyLoad',function(event){asyncLoad();});if(window.attachEvent)").replaceAll(", asyncLoad", ", function(){}")), e.innerHTML.includes("PreviewBarInjector") && (e.innerHTML = e.innerHTML.replace("DOMContentLoaded", "asyncLazyLoad")), (e.className == 'analytics') && (e.type = 'text/lazyload'),(e.src.includes("assets/storefront/features")||e.src.includes("assets/shopify_pay")||e.src.includes("connect.facebook.net"))&&(e.setAttribute("data-src", e.src), e.removeAttribute("src")))})})});observer.observe(document.documentElement,{childList:!0,subtree:!0}) 
}
</script>
<link href="//www.nialaya.com/cdn/shop/t/116/assets/vendor.min.css?v=72559489221033970801744733625" rel="stylesheet" type="text/css" media="all">
<link href="//www.nialaya.com/cdn/shop/t/116/assets/theme-styles.css?v=97269580184776502301744733625" rel="stylesheet" type="text/css" media="all">
<link href="//www.nialaya.com/cdn/shop/t/116/assets/theme-styles-responsive.css?v=29231484506396539591744733625" rel="stylesheet" type="text/css" media="all">
<link href="//www.nialaya.com/cdn/shop/t/116/assets/theme-settings.css?v=86028228528868046621744733625" rel="stylesheet" type="text/css" media="all">
<link href="//www.nialaya.com/cdn/shop/t/116/assets/custom-styles.css?v=103699540374753787941745423447" rel="stylesheet" type="text/css" media="all">
<!-- <link href="//www.nialaya.com/cdn/shop/t/116/assets/footer-07.css?v=34019186401220676241744733625" rel="stylesheet" type="text/css" media="all"> -->
<!-- <link href="//www.nialaya.com/cdn/shop/t/116/assets/custom.css?v=62583716574730453791744733625" rel="stylesheet" type="text/css" media="all"> -->

<script src="//www.nialaya.com/cdn/shop/t/116/assets/jquery.min.js?v=74721525869110791951744733625" type="text/javascript"></script>
<!-- <script src="//www.nialaya.com/cdn/shop/t/116/assets/jquery-cookie.min.js?v=72365755745404048181744733625" type="text/javascript"></script> -->
<script src="//www.nialaya.com/cdn/shop/t/116/assets/lazysizes.min.js?v=84414966064882348651744733625" type="text/javascript"></script>

    <div class="wrapper-container wrapper-body">
        <main class="main-content" role="main">

<link href="//www.nialaya.com/cdn/shop/t/116/assets/custom-bracelets.css?v=32108153715722013491744733625" rel="stylesheet">
<link href="//www.nialaya.com/cdn/shop/t/116/assets/dropzones.css?v=42715010336588862971744733625" rel="stylesheet">

<div id="loader"><img id="loadImg" src="https://www.nialaya.com/apps/udesign/images/loader.gif" data-ac-alt-type="image" alt="a black background with white text"><h3>We are creating your custom bracelet...</h3></div>

<div id="sizeLoader"><img id="sizeLoadImg" src="https://www.nialaya.com/apps/udesign/images/loader.gif" data-ac-alt-type="image"><h3>Loading bracelet option...</h3></div>
<div id="turnerMe"><h3>Please turn your device upright to customize your bracelet.</h3></div>

<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/elastic/locks/elastic_gold.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/elastic/elastic.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/classic/locks/classic_gold.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/classic/medium/ClassicMediumBlack.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/locks/SmallGold.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/small/StrungSmallBlack.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/base/small/Black_S.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/locks/MediumGold.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBlack.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Black_M.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/locks/LargeGold.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/large/StrungLargeBlack.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/base/large/Black_L.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/locks/XLargeGold.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/xlarge/StrungXLargeBlack.png" role="presentation" data-ac-alt-type="image">
<img style="display:none" src="https://www.nialaya.com/apps/udesign/images/strung/base/xlarge/Black_XL.png" role="presentation" data-ac-alt-type="image">

<div id="customGrey" class="user-content row-spacing strung_medium ">
  <div id="leftWing">
    <div id="metaTrail">
      <div id="styleTag">Classic With String</div>
      <div id="sheller"><div class="bracketz">Bracelet size: <div id="sizeTag">Medium (17cm / 6.7”)</div></div><div id="beadTagSizer" class="bracketz">Bead Size: <div id="beadSizeTag">8mm</div></div><div class="bracketz">Color: <div id="colorTag">S02 (Black)</div></div><div class="bracketz">Lock Style: <div id="lockTag">LK02 (18K Gold Plated)</div></div><div class="bracketz">Gender: <div id="genderTag">Male</div></div><div class="bracketz">Base Price: $<div id="basePriceTag">229</div></div></div>
      <div id="infoTag"></div>

    <div id="priceBox">$<span id="priceCount">229</span></div>
      <form id="cartForm" class="form" action="/cart/add" method="post" enctype="multipart/form-data">
        <div id="formProtect"></div>
        <input id="addIDhere" type="hidden" name="id" value="">
        <div class="input-row quantity-submit-row product-item">
          <input id="quantity" class="select-on-focus" name="quantity" value="1" size="2">
          <input class="btn add-to-cart-btn" type="submit" value="add to cart">
          <input type="hidden" name="properties[Packaging]" value="No Gift Wrapping Added">
        </div>
        <div id="putBox" onclick="buyThis()">Add to Cart</div>
      </form>
    </div>
    
    <div id="potHolder" style="display: block;">        
      <div id="parker" class="strung_medium">
        <img id="lockEr" src="https://www.nialaya.com/apps/udesign/images/strung/locks/MediumGold.png" role="presentation" data-ac-alt-type="image">
        <img id="emBrace" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBlack.png" role="presentation" data-ac-alt-type="image">
        <img id="baseEr" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Black_M.png" role="presentation" data-ac-alt-type="image">
        <div class="dropper ui-droppable" id="drop13"></div>
        <div class="dropper ui-droppable" id="drop12"></div>
        <div class="dropper ui-droppable" id="drop11"></div>
        <div class="dropper ui-droppable" id="drop10"></div>
        <div class="dropper ui-droppable" id="drop9"></div>
        <div class="dropper ui-droppable" id="drop8"></div>
        <div class="dropper ui-droppable" id="drop7"></div>
        <div class="dropper ui-droppable" id="drop6"></div>
        <div class="dropper ui-droppable" id="drop5"></div>
        <div class="dropper ui-droppable" id="drop4"></div>
        <div class="dropper ui-droppable" id="drop3"></div>
        <div class="dropper ui-droppable" id="drop2"></div>
        <div class="dropper ui-droppable" id="drop1"></div>
      </div>          
    </div>
  </div>
  
  <div id="rightWing">
    <!-- <div class="navBock"><a class="activated" href="/pages/custom-bracelets-men">MEN</a> <a href="/pages/custom-bracelets-women">WOMEN</a></div> -->
    <!-- <div class="navBock" onclick="bringThis('#stylesBox')">BRACELET STYLE</div> -->
    <div class="navBock" onclick="bringThis('#sizeBox')">BRACELET SIZE</div>
    <div class="navBock" id="beadSizeBock" onclick="bringThis('#sizeBeadsBox')">BEADS SIZE</div>
    <div class="navBock" id="beadBock" onclick="bringBeads()">BEADS</div>
    <div class="navBock" id="colorBock" onclick="bringThis('#colorBox')">STRING COLOR</div>
    <div class="navBock" id="lockBock" onclick="bringThis('#lockBox')">LOCK STYLE</div>
  </div>

  <!-- <div id="stylesBox" class="swinger"> -->
    <div class="swingWrapper">
      <div id="shopify-section-bracelet_styles" class="shopify-section"><div id="stylePuller">

        <div class="oneStyle activated" onclick="switchStyle('Outside Strung',this)">
          <img src="https://www.nialaya.com/apps/udesign/images/style/strung.png" data-ac-alt-type="image" alt="a black beaded bracelet with gold text">
          <h4 class="align-center" style="margin-bottom: 0px;">Classic With String</h4>
        </div>

        <div class="oneStyle" onclick="switchStyle('Classic',this)">
          <img src="https://www.nialaya.com/apps/udesign/images/style/classic.png" data-ac-alt-type="image" alt="a black beaded bracelet with gold clasp">
          <h4 class="align-center" style="margin-bottom: 0px;">Classic</h4>
        </div>

        <div class="oneStyle" onclick="switchStyle('Elastic',this)">
          <img src="https://www.nialaya.com/apps/udesign/images/style/elastic.png" data-ac-alt-type="image" alt="a black beaded bracelet with a gold logo">
          <h4 class="align-center" style="margin-bottom: 0px;">Elastic</h4>
        </div>


        <div class="oneStyle" onclick="switchStyle('Leather Anchor',this)">
          <img src="https://www.nialaya.com/apps/udesign/images/style/anchor.png" data-ac-alt-type="image" alt="a black leather bracelet with a gold anchor">
          <h4 class="align-center" style="margin-bottom: 0px;">Leather Anchor</h4>
        </div>

        <div class="oneStyle" onclick="switchStyle('Leather Big Hook',this)">
          <img src="https://www.nialaya.com/apps/udesign/images/style/big_hook.png" data-ac-alt-type="image" alt="a black leather bracelet with gold clasp">
          <h4 class="align-center" style="margin-bottom: 0px;">Leather Bali Clasp</h4>
        </div>

        <div class="oneStyle" onclick="switchStyle('Necklace',this)" style="display:none">
          <img src="https://www.nialaya.com/apps/udesign/images/style/necklace.png" role="presentation" data-ac-alt-type="image">
          <h4 class="align-center" style="margin-bottom: 0px;">Necklace</h4>
        </div>

        </div>

      </div>
      <div class="closer">
        <i onclick="closeThis(this);" class="fa fa-times" aria-hidden="true"></i>
        <i onclick="closeThis(this);" class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div id="sizeBox" class="swinger Size-Strung-Medium">
    <div class="swingWrapper">
      <div id="sizePuller">
        <div class="oneSize strung" onclick="sizeThis('strung_xlarge','XLarge');metaThis('Classic With String', 'XLarge (19cm / 7.5”)', 'S02 (Black)', 'LK02 (18K Gold Plated)');">
          <h4 class="align-center" style="margin-bottom: 0px;">XLarge (19cm / 7.5”)</h4>
        </div>
        <div class="oneSize strung" onclick="sizeThis('strung_large','Large');metaThis('Classic With String', 'Large (18cm / 7.1”)', 'S02 (Black)', 'LK02 (18K Gold Plated)');">
          <h4 class="align-center" style="margin-bottom: 0px;">Large (18cm / 7.1”)</h4>
        </div>
        <div class="oneSize strung" onclick="sizeThis('strung_medium','Medium');metaThis('Classic With String', 'Medium (17cm / 6.7”)', 'S02 (Black)', 'LK02 (18K Gold Plated)');">
          <h4 class="align-center activated" style="margin-bottom: 0px;">Medium (17cm / 6.7”)</h4>
        </div>
        <div class="oneSize strung" onclick="sizeThis('strung_small','Small');metaThis('Classic With String', 'Small (16cm / 6.3”)', 'S02 (Black)', 'LK02 (18K Gold Plated)');">
          <h4 class="align-center" style="margin-bottom: 0px;">Small (16cm / 6.3”)</h4>
        </div>

        <div class="closer">
          <i onclick="closeThis(this);" class="fa fa-times" aria-hidden="true"></i>
          <i onclick="closeThis(this);" class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div id="sizeBeadsBox" class="swinger">
    <div class="swingWrapper">
      <div class="closer">
        <i onclick="closeThis(this);" class="fa fa-times" aria-hidden="true"></i>
        <i onclick="closeThis(this);" class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div id="lockBox" class="swinger Size-Strung-Medium">
    <div class="swingWrapper">
      <div id="lockPuller">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/locks/MediumSilver.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/locks/MediumGold.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/locks/MediumRoseGold.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/locks/MediumBlack.png" role="presentation" data-ac-alt-type="image">

        <div class="oneLock strung" onclick="priceUpdate('199');lockThis('https://www.nialaya.com/apps/udesign/images/strung/locks/MediumSilver.png', 'LK01 (Silver Finish)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/locks/SilverLockSwatch.png" data-ac-alt-type="image" alt="a silver circle with black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Silver Finish</h4>
        </div>
        <div class="oneLock strung activated" onclick="priceUpdate('229');lockThis('https://www.nialaya.com/apps/udesign/images/strung/locks/MediumGold.png', 'LK02 (18K Gold Plated)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/locks/GoldLockSwatch.png" data-ac-alt-type="image" alt="a gold circle with black background">
          <h4 class="align-center" style="margin-bottom: 0px;">18K Gold Plated</h4>
        </div>
        <div class="oneLock strung" onclick="priceUpdate('229');lockThis('https://www.nialaya.com/apps/udesign/images/strung/locks/MediumRoseGold.png', 'LK03 (18K Rose Gold Plated)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/locks/RosegoldLockSwatch.png" data-ac-alt-type="image" alt="a circular metal object with a black background">
          <h4 class="align-center" style="margin-bottom: 0px;">18K Rose Gold Plated</h4>
        </div>
        <div class="oneLock strung" onclick="priceUpdate('229');lockThis('https://www.nialaya.com/apps/udesign/images/strung/locks/MediumBlack.png', 'LK04 (18K Ruthenium Plated)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/locks/TitaniumLockSwatch.png" data-ac-alt-type="image" alt="a circular metal object with a black background">
          <h4 class="align-center" style="margin-bottom: 0px;">18K Ruthenium Plated</h4>
        </div>

        <div class="closer">
          <i onclick="closeThis(this);" class="fa fa-times" aria-hidden="true"></i>
          <i onclick="closeThis(this);" class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div id="colorBox" class="swinger Size-Strung-Medium">
    <div class="swingWrapper">
      <div id="colorPuller">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBlack.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBeige.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBlue.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBrown.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumDenim.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumGreen.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumGrey.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumNavy.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumPurple.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumRed.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumWhite.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumPink.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumYellow.png" role="presentation" data-ac-alt-type="image">

        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Black_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Beige_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Blue_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Brown_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Denim_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Green_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Grey_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Navy_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Purple_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Red_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/White_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Pink_M.png" role="presentation" data-ac-alt-type="image">
        <img style="display: none;" src="https://www.nialaya.com/apps/udesign/images/strung/base/medium/Yellow_M.png" role="presentation" data-ac-alt-type="image">

        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/White_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumWhite.png','S01 (White)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/white.png" data-ac-alt-type="image" alt="a white circle with a black background">
          <h4 class="align-center" style="margin-bottom: 0px;">White</h4>
        </div>
        <div class="oneColor strung activated" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Black_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBlack.png','S02 (Black)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/black.png" data-ac-alt-type="image" alt="a black circle with a black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Black</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Beige_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBeige.png','S03 (Beige)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/beige.png" data-ac-alt-type="image" alt="a close-up of a circular object">
          <h4 class="align-center" style="margin-bottom: 0px;">Beige</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Navy_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumNavy.png','S04 (Navy)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/navy.png" data-ac-alt-type="image" alt="a blue circle with a black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Navy</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Blue_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBlue.png','S05 (Blue)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/blue.png" data-ac-alt-type="image" alt="a blue circle with a black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Blue</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Denim_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumDenim.png','S06 (Light Blue)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/denim.png" data-ac-alt-type="image" alt="a close up of a blue circle">
          <h4 class="align-center" style="margin-bottom: 0px;">Light Blue</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Purple_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumPurple.png','S07 (Purple)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/purple.png" data-ac-alt-type="image" alt="a purple circle with black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Purple</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Red_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumRed.png','S08 (Red)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/red.png" data-ac-alt-type="image" alt="a red circle with black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Red</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Yellow_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumYellow.png','S09 (Yellow)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/yellow.png" data-ac-alt-type="image" alt="a yellow circle with black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Yellow</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Green_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumGreen.png','S10 (Green)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/green.png" data-ac-alt-type="image" alt="a green circle with black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Green</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Brown_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumBrown.png','S11 (Brown)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/brown.png" data-ac-alt-type="image" alt="a close up of a circle">
          <h4 class="align-center" style="margin-bottom: 0px;">Brown</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Grey_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumGrey.png','S12 (Grey)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/grey.png" data-ac-alt-type="image" alt="a close up of a white circle">
          <h4 class="align-center" style="margin-bottom: 0px;">Grey</h4>
        </div>
        <div class="oneColor strung" onclick="baseThis('https://www.nialaya.com/apps/udesign/images/strung/base/medium/Pink_M.png');colorThis('https://www.nialaya.com/apps/udesign/images/strung/medium/StrungMediumPink.png','S13 (Fuchsia)');">
          <img src="https://www.nialaya.com/apps/udesign/images/swatches/colors/string/pink.png" data-ac-alt-type="image" alt="a pink circle with black background">
          <h4 class="align-center" style="margin-bottom: 0px;">Fuchsia</h4>
        </div>

        <div class="closer">
          <i onclick="closeThis(this);" class="fa fa-times" aria-hidden="true"></i>
          <i onclick="closeThis(this);" class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div id="beadBox" class="swinger">

    <div class="swingWrapper">

      <div id="beadPuller">
        <img id="dropAnim" src="https://www.nialaya.com/apps/udesign/images/drop.png" data-ac-alt-type="image" alt="a black background with a hand and a black text">


        <h1>Precious Stone Beads:</h1>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1069" price="0" src="https://cdn.shopify.com/s/files/1/0586/4026/9492/files/design_1.png?v=1745850334" data-ac-alt-type="image" alt="a pink marble with a hole in it">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">ROSE QUARTZ</h4>
          <p>LOVE, HARMONY, POSITIVITY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1068" price="0" src="https://cdn.shopify.com/s/files/1/0586/4026/9492/files/design_2.png?v=1745850346" data-ac-alt-type="image" alt="a black and white ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">AGATE</h4>
          <p>WISDOM, CONFIDENCE, PROSPERITY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1066" price="0" src="https://cdn.shopify.com/s/files/1/0586/4026/9492/files/design_3.png?v=1745850362" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">RED TIGER EYE</h4>
          <p>INSIGHT, CONFIDENCE, STRENGTH</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1065" price="0" src="https://cdn.shopify.com/s/files/1/0586/4026/9492/files/design_4.png?v=1745850362" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">MATTE TIGER EYE</h4>
          <p>INSIGHT, CONFIDENCE, BALANCE</p>
        </div>
        <!-- <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1064" price="7" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD05.png" data-ac-alt-type="image" alt="a close-up of a red ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">GARNET</h4>
          <p>PASSION, CREATIVITY, DETERMINATION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1063" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD06.png" data-ac-alt-type="image" alt="a blue and white planet">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">DUMORTIERITE</h4>
          <p>SELF-ESTEEM, CONCENTRATION, PATIENCE </p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1062" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD07.png" data-ac-alt-type="image" alt="a moon with a black background">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLACK JADE</h4>
          <p>PROTECTION, TRANSFORMATION, DEFENSE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1061" price="6" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD08.png" data-ac-alt-type="image" alt="a close-up of a pink ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">AMETHYST LAVENDER</h4>
          <p>CREATIVITY, AMBITION, PASSION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1052" price="6" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD10.png" data-ac-alt-type="image" alt="a purple ball with a hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">AMETHYST</h4>
          <p>HEALTH, BEAUTY, CLARITY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1045" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD11.png" data-ac-alt-type="image" alt="a blue ball with a black hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">LARIMAR</h4>
          <p>LOVE, PERSONAL POWER, HEALING</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1044" price="6" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD12.png" data-ac-alt-type="image" alt="a close up of a planet">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BALI TURQUOISE</h4>
          <p>HEAVEN &amp; EARTH, KINDNESS, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1042" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD13.png" data-ac-alt-type="image" alt="a red ball with a black background">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">RED JADE</h4>
          <p>VITALITY, STRENGTH, PASSION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1041" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD14.png" data-ac-alt-type="image" alt="a close up of a stone">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BOTSWANA AGATE</h4>
          <p>PROTECTION, COMPOSURE, SENSUALITY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1040" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD16.png" data-ac-alt-type="image" alt="a silver sphere with a black dot">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">HEMATITE</h4>
          <p>OPTIMISM, COURAGE, STABILITY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1039" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD17.png" data-ac-alt-type="image" alt="a close-up of a silver ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">FACETED HEMATITE</h4>
          <p>OPTIMISM, COURAGE, STABILITY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1038" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD18.png" data-ac-alt-type="image" alt="a close-up of a white ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">LABRADORITE</h4>
          <p>SERENITY, CLARITY, IMAGINATION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1036" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD19.png" data-ac-alt-type="image" alt="a black and white planet">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">LAVA STONE</h4>
          <p>STRENGTH, PASSION, CREATION </p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1035" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD20.png" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">OPAL</h4>
          <p>HARMONY, COURAGE, SELF-ESTEEM</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1034" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD21.png" data-ac-alt-type="image" alt="a close up of a blue ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">SAPPHIRE</h4>
          <p>WISDOM, CONCENTRATION, DREAMS</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1032" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD22.png" data-ac-alt-type="image" alt="a pink ball with a black hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">CHERRY QUARTZ</h4>
          <p>LOVE, COMFORT, PEACE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1031" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD23.png" data-ac-alt-type="image" alt="a white ball with a black spot">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">HOWLITE</h4>
          <p>RELAXATION, PATIENCE, MEMORY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1030" price="8" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD24.png" data-ac-alt-type="image" alt="a white pearl with a black hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">WHITE SEA PEARL</h4>
          <p>INTEGRITY, INNOCENCE, GRACE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1029" price="6" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD25.png" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">MALACHITE</h4>
          <p>PURITY, PROTECTION, HAPPINESS</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1027" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD26.png" data-ac-alt-type="image" alt="a close-up of a crystal ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">SMOKEY QUARTZ</h4>
          <p>ENDURANCE, PRIDE, PERCEPTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1026" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD27.png" data-ac-alt-type="image" alt="a black round object with a black background">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">EBONY</h4>
          <p>KNOWLEDGE, INTUITION, DEFENSE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1024" price="4" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD28.png" data-ac-alt-type="image" alt="a blue and white marble with a black hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLUE LAPIS</h4>
          <p>WISDOM, CONFIDENCE, PROSPERITY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1023" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD29.png" data-ac-alt-type="image" alt="a black ball with a black background">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLUE TIGER EYE</h4>
          <p>WILL POWER, TRANQUILITY, LUCK</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1022" price="4" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD30.png" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BROWN TIGER EYE</h4>
          <p>INSIGHT, CONFIDENCE, BALANCE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1021" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD31.png" data-ac-alt-type="image" alt="a black and white image of a moon">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">MATTE ONYX</h4>
          <p>OBJECTIVENESS, SPIRITUALITY, MEDITATION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1020" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD32.png" data-ac-alt-type="image" alt="a white sphere with a black hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLUE LACE AGATE</h4>
          <p>HEALTH, SERENITY, BALANCE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1018" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD33.png" data-ac-alt-type="image" alt="a red ball with a hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">CARNELIAN</h4>
          <p>CREATIVITY, VITALITY, COURAGE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1017" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD34.png" data-ac-alt-type="image" alt="a white sphere with a black hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">AQUAMARINE</h4>
          <p>COURAGE, BALANCE, PEACE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1090" price="0" src="https://www.nialaya.com/apps/udesign/images/beads/PSBEAD36.png" data-ac-alt-type="image" alt="a red bowling ball with a hole">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">VINTAGE TRIFOCAL</h4>
          <p>OPTIMISM, LOVE, HEALING</p>
        </div>

        <h1>Precious Metal Beads:</h1>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1050" price="39" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD01.png" data-ac-alt-type="image" alt="a close up of a ring">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">SILVER LOGO BEAD</h4>
          <p>WEALTH, PROSPERITY, EMOTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1049" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD02.png" data-ac-alt-type="image" alt="a close up of a pearl">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">ROSE GOLD LOGO BEAD</h4>
          <p>HEALTH, STABILITY, CONFIDENCE</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1048" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD03.png" data-ac-alt-type="image" alt="a gold ball with a diamond design">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">GOLD LOGO BEAD</h4>
          <p>PURITY, INTEGRITY, WILL POWER</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1067" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD04.png" data-ac-alt-type="image" alt="a black and white sphere">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">TITANIUM LOGO BEAD</h4>
          <p>BALANCE, STABILITY, VITALITY</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1028" price="19" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD05.png" data-ac-alt-type="image" alt="a white pearl in a circle">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">SILVER HOLLOW BEAD</h4>
          <p>WEALTH, PROSPERITY, EMOTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1082" price="39" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD06.png" data-ac-alt-type="image" alt="a silver ball with a black background">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">CAIRO VINTAGE SILVER BEAD</h4>
          <p>WEALTH, PROSPERITY, EMOTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1083" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD07.png" data-ac-alt-type="image" alt="a gold and black ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">CAIRO VINTAGE GOLD BEAD</h4>
          <p>PURITY, INTEGRITY, WILL POWER</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1084" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD08.png" data-ac-alt-type="image" alt="a gold ball with a black background">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">CAIRO GOLD BEAD</h4>
          <p>PURITY, INTEGRITY, WILL POWER</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1011" price="39" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD09.png" data-ac-alt-type="image" alt="a silver ball with a design on it">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">INDIAN SILVER LOGO BEAD</h4>
          <p>WEALTH, PROSPERITY, EMOTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1089" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD10.png" data-ac-alt-type="image" alt="a gold round object with a swirl design">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">INDIAN GOLD LOGO BEAD</h4>
          <p>PURITY, INTEGRITY, WILL POWER</p>
        </div>
        <div class="oneBead hovert">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1055" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD11.png" data-ac-alt-type="image" alt="a gold and black statue">
          </div>
          <img class="hideHov" src="https://www.nialaya.com/apps/udesign/images/newbeads/PMBEAD11.png" data-ac-alt-type="image" alt="a gold statue of a buddha">
          <h4 class="align-center" style="margin-bottom: 0px;">GOLD BUDDHA</h4>
          <p>PURITY, INTEGRITY, WILL POWER</p>
        </div>
        <div class="oneBead hovert">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1053" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/PMBEAD12.png" data-ac-alt-type="image" alt="a silver statue of a woman's head">
          </div>
          <img class="hideHov" src="https://www.nialaya.com/apps/udesign/images/newbeads/PMBEAD12.png" data-ac-alt-type="image" alt="a silver statue of a buddha">
          <h4 class="align-center" style="margin-bottom: 0px;">SILVER BUDDHA</h4>
          <p>WEALTH, PROSPERITY, EMOTION</p>
        </div>

        <h1>Diamond and CZ Beads:</h1>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1007" price="1050" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD01.png" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLACK DIAMOND BEAD</h4>
          <p>ANTIDEPRESSANT, INTUITION, SELF-ESTEEM</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1070" price="1250" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD02.png" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">DIAMOND BEAD</h4>
          <p>COMMITMENT, LOVE, SPIRITUALITY</p>
        </div>
        <div class="oneBead hovert">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1015" price="59" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD03.png" data-ac-alt-type="image" alt="a silver bead with diamonds">
          </div>
          <img class="hideHov" src="https://www.nialaya.com/apps/udesign/images/newbeads/DCZBEAD03.png" data-ac-alt-type="image" alt="a silver skull with diamonds">
          <h4 class="align-center" style="margin-bottom: 0px;">SILVER CZ SKULL BEAD</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
     
        <div class="oneBead hovert">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1086" price="59" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD05.png" data-ac-alt-type="image" alt="a black metal object with a black background">
          </div>
          <img class="hideHov" name="1086" price="59" src="https://www.nialaya.com/apps/udesign/images/newbeads/DCZBEAD05.png" data-ac-alt-type="image" alt="a black skull with black stones">
          <h4 class="align-center" style="margin-bottom: 0px;">BLACK CZ SKULL BEAD</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1008" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD06.png" data-ac-alt-type="image" alt="a black and silver ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLACK CZ IN BLACK SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1081" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD07.png" data-ac-alt-type="image" alt="a gold and black beaded ring">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLACK CZ IN GOLD SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1005" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD08.png" data-ac-alt-type="image" alt="a gold and diamond ring">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">WHITE CZ IN GOLD SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1079" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD09.png" data-ac-alt-type="image" alt="a close up of a bead">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">WHITE CZ IN ROSE GOLD SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1087" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD10.png" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">WHITE CZ IN SILVER SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1071" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD11.png" data-ac-alt-type="image" alt="a gold and blue ring with blue stones">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLUE CZ IN GOLD SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1072" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD12.png" data-ac-alt-type="image" alt="a blue and white diamond ring">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLUE CZ IN SILVER SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>

        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1075" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD15.png" data-ac-alt-type="image" alt="a close up of a ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">PINK CZ  BLACK SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1076" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD16.png" data-ac-alt-type="image" alt="a gold and red gem ball">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">PINK CZ IN GOLD SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1077" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD17.png" data-ac-alt-type="image" alt="a gold and purple ball with small stones">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">PURPLE CZ IN GOLD SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1078" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD18.png" data-ac-alt-type="image" alt="a close up of a bead">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">PURPLE CZ IN SILVER SETTING</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div>
        <div class="oneBead">
          <div class="beadPic ui-draggable ui-draggable-handle">
            <img name="1080" price="49" src="https://www.nialaya.com/apps/udesign/images/beads/DCZBEAD19.png" data-ac-alt-type="image" alt="a silver and black bead">
          </div>
          <h4 class="align-center" style="margin-bottom: 0px;">BLACK AND WHITE CZ BEAD</h4>
          <p>VISION, KNOWLEDGE, PROTECTION</p>
        </div> -->

      </div>
      <div class="closer">
        <i onclick="closeThis(this);" class="fa fa-times" aria-hidden="true"></i>
        <i onclick="closeThis(this);" class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>
  </div>      
</div>

  

    <!-- Footer scripts -->
<!-- <script src="//www.nialaya.com/cdn/shop/t/116/assets/vendor.min.js?v=23888304798037428931744733625" defer=""></script>
<script src="//www.nialaya.com/cdn/shop/t/116/assets/api.jquery.js?v=13568615863607319991744733625" async=""></script>
<script src="//www.nialaya.com/cdn/shopifycloud/shopify/assets/themes_support/option_selection-86cdd286ddf3be7e25d68b9fc5965d7798a3ff6228ff79af67b3f4e41d6a34be.js" async=""></script>
<script src="//www.nialaya.com/cdn/shop/t/116/assets/jquery.sticky.js?v=54057860659457505381744733625"></script>
<script src="//www.nialaya.com/cdn/shop/t/116/assets/halo.js?v=77979447357051114391744733625"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/template7/1.4.0/template7.js"></script> -->
   
    <div class="halo-sidebar halo-sidebar_search" id="search-form-mobile">
    <a href="#" class="halo-sidebar-close" data-search-close-sidebar="" alt="Close">
        <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
        <span>Close</span>
    </a>
    <div class="halo-sidebar-header text-left">
        <h5 class="title">
            Search
        </h5>
    </div>
    <div class="halo-sidebar-wrapper custom-scrollbar">
        <div class="search-form" data-ajax-search="">
            <div class="header-search">
                <div class="header-search__form">
                    <a href="javascript:void(0)" title="close" class="close close-search">
                        <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
                    </a>
                    <form action="/search" method="get" class="search-bar" role="search">
                        <input type="hidden" name="type" value="product">
                            <input type="search" name="q" placeholder="Search" class="input-group-field header-search__input" aria-label="Search Site" autocomplete="off">
                        <button type="submit" class="btn icon-search">
                            
	<svg data-icon="search" viewBox="0 0 512 512" width="100%" height="100%">
	    <path d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z"></path>
	</svg>


                        </button>
                        
                    </form>       
                </div>

                <div class="quickSearchResultsWrap" style="display: none;">
                    <div class="custom-scrollbar">
                        <div class="container">
   
                            <div class="header-search__results-wrapper"></div>          
                        </div>
                    </div>
                </div>
            </div>
          
             

            <script id="search-results-template" type="text/template7">
                
                {{#if is_loading}}
                <div class="header-search__results">
                    <div class="header-search__spinner-container">
                        <div class="loading-modal modal"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>

                {{else}}

                {{#if is_show}}
                <div class="header-search__results header-block">
                    
                    {{#if has_results}}
                    <div class="box-title">
                        {{ title_heading }}
                    </div>

                    <div class="search__products">
                        <div class="products-grid row">
                            {{#each results}}

                            <div class="grid-item col-6 col-sm-4 col3 ">
                                <div class="inner product-item">
                                    <div class="inner-top">
                                        <div class="product-top">
                                            <div class="product-image">
                                                <a href="{{url}}" class="product-grid-image">
                                                    <img src="{{image}}" alt="{{image_alt}}">                                               
                                                </a>
                                            </div>
                                        </div>

                                        <div class="product-bottom">

                                            

                                            <a class="product-title" href="{{url}}">
                                                {{title}}
                                            </a>

                                            <div class="price-box">
                                                {{#if on_sale}}
                                                <div class="price-sale">
                                                    <span class="old-price">{{ compare_at_price }}</span>
                                                    <span class="special-price">
                                                        {{ price }}
                                                    </span>
                                                </div>
                                                {{else}}
                                                <div class="price-regular">
                                                    <span>{{ price }}</span>
                                                </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{/each}}
                        </div>              
                    </div>
                    
                    <div class="text-center">            
                        <a href="{{results_url}}" class="text-results header-search__see-more" data-results-count="{{results_count}}">
                            {{results_label}} ({{results_count}})
                        </a>
                    </div>
                    {{else}}

                    <p class="header-search__no-results text-results">{{ results_label }}</p>
                    {{/if}}
                    
                </div>
                {{/if}}
                {{/if}}
            
            </script>
        </div>
    </div>
</div>
    

    


  	


    <div class="loading-modal modal"><div></div><div></div><div></div><div></div></div>

<div class="ajax-lookbook-modal">
    <div class="overlay"></div>
    <div class="ajax-modal-content">
        <a href="javascript:void(0)" data-close-lookbook-modal="" class="close close-modal">
        <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
        </a>
        <div class="lookbook-content"></div>
    </div>  
</div>

<div class="ajax-error-modal modal">
    <div class="modal-inner">
        <div class="ajax-error-message"></div>
    </div>
</div>

<div class="ajax-success-normal ajax-success-modal halo-modal" data-ajax-cart-success="">
    <div class="modal-overlay">
        <div class="halo-modal-content">
            <a class="close close-modal" title="Close">
                <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
            </a>
            
            <div class="halo-modal-body">
                <div class="cart-modal-content">
                    <div class="ajax-left">
                        <img class="ajax-product-image" alt="&nbsp;" src="" style="max-width:64px;" role="presentation">
                    </div>

                    <div class="ajax-right">
                        <div class="ajax-product-title"></div>
                        <p class="success-message message-added-cart">
                            is added to your shopping cart.
                        </p>  
                        <div class="actions">
                            <button class="btn continue-shopping" onclick="javascript:void(0)">Continue Shopping</button>
                            <button class="btn btn-go-to-cart" onclick="window.location='/cart'">Go to cart</button>
                        </div>   
                    </div>
                </div> 
                
            </div>
        </div>     
  </div>
</div>


<div class="ajax-success-modal halo-modal ajax-quickview" data-quickview-modal="">
    <div class="modal-overlay">
        <div class="halo-modal-content">
            <a class="close close-modal" title="Close">
                <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
            </a>
            
            <div class="halo-modal-body"></div>
        </div>     
    </div>
</div>


<div class="newsletter-success-modal">
    <div class="modal-overlay"></div>
    <div class="halo-modal-content">
      <a class="close close-modal" title="Close">
        <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
      </a>

      <div class="halo-modal-body success">
        <i class="fa fa-check" aria-hidden="true"></i>
        <span>You have successfully subscribed!</span>
      </div>
      <div class="halo-modal-body error">
        <i class="fa fa-times"></i>
        <span>This email has been registered</span>
      </div>
    </div> 
</div>



<div class="halo-modal ajax-editcart" data-cart-edit-modal="">
    <div class="modal-overlay">
        <div class="halo-modal-content">
            <a class="close close-modal" title="Close">
                <span>Close</span>
                <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
            </a>
            <div class="halo-modal-body"></div>
        </div>     
    </div>
</div>





<div class="halo-modal popup--video" data-popup-video="">
    <div class="modal-overlay">
        <div class="halo-modal-content">
            <a class="close close-modal" title="Close">
                <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
            </a>
            <div class="halo-modal-body">
                
            </div>
        </div>     
    </div>
</div>




    

    

    

    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script><iframe allow="join-ad-interest-group" data-tagging-id="AW-664394941" data-load-time="1745561643939" height="0" width="0" src="https://td.doubleclick.net/td/rul/664394941?random=1745561643926&amp;cv=11&amp;fst=1745561643926&amp;fmt=3&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be54o0h2za200&amp;gcd=13l3l3l3l1l1&amp;dma=0&amp;tag_exp=102887800~103051953~103077950~103106314~103106316~103116025~103130360~103130362~103200001&amp;u_w=1536&amp;u_h=864&amp;url=https%3A%2F%2Fwww.nialaya.com%2Fpages%2Fcustom-bracelets-men%3Fpb%3D0&amp;ref=https%3A%2F%2Fwww.nialaya.com%2Fpages%2Fcustom-bracelets-men%3Fpreview_theme_id%3D%26pb%3D0&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=Custom%20Bracelets%20Men%20%E2%80%93%20Nialaya&amp;did=dN2ZkMj&amp;gdid=dN2ZkMj&amp;npa=0&amp;pscdl=noapi&amp;auid=1446848395.1744879942&amp;uaa=x86&amp;uab=64&amp;uafvl=Microsoft%2520Edge%3B135.0.3179.85%7CNot-A.Brand%3B8.0.0.0%7CChromium%3B135.0.7049.96&amp;uamb=0&amp;uam=&amp;uap=Windows&amp;uapv=19.0.0&amp;uaw=0&amp;fledge=1&amp;data=event%3Dgtag.config" style="display: none; visibility: hidden;"></iframe><div tabindex="-1" aria-hidden="true" id="web-pixels-manager-sandbox-container" data-shopify-privacy="exclude" style="height: 0px !important; width: 0px !important; position: fixed !important; visibility: hidden !important; overflow: hidden !important; z-index: -100 !important; margin: 0px !important; padding: 0px !important; border: 0px !important;"><iframe tabindex="-1" aria-hidden="true" name="web-pixel-sandbox-CUSTOM-28901448-LAX-fe9401c6w6fcd3e4fp464410b4m1f17cd9f" src="https://www.nialaya.com/wpm@fe9401c6w6fcd3e4fp464410b4m1f17cd9f/custom/web-pixel-28901448@1/sandbox/modern/pages/custom-bracelets-men?pb=0" id="web-pixel-sandbox-CUSTOM-28901448-LAX-fe9401c6w6fcd3e4fp464410b4m1f17cd9f" sandbox="allow-scripts allow-forms" style="height: 0px !important; width: 0px !important; visibility: hidden !important;"></iframe><iframe tabindex="-1" aria-hidden="true" name="web-pixel-sandbox-CUSTOM-43352136-LAX-fe9401c6w6fcd3e4fp464410b4m1f17cd9f" src="https://www.nialaya.com/wpm@fe9401c6w6fcd3e4fp464410b4m1f17cd9f/custom/web-pixel-43352136@1/sandbox/modern/pages/custom-bracelets-men?pb=0" id="web-pixel-sandbox-CUSTOM-43352136-LAX-fe9401c6w6fcd3e4fp464410b4m1f17cd9f" sandbox="allow-scripts allow-forms" style="height: 0px !important; width: 0px !important; visibility: hidden !important;"></iframe><iframe tabindex="-1" aria-hidden="true" name="web-pixel-sandbox-CUSTOM-43712584-LAX-fe9401c6w6fcd3e4fp464410b4m1f17cd9f" src="https://www.nialaya.com/wpm@fe9401c6w6fcd3e4fp464410b4m1f17cd9f/custom/web-pixel-43712584@1/sandbox/modern/pages/custom-bracelets-men?pb=0" id="web-pixel-sandbox-CUSTOM-43712584-LAX-fe9401c6w6fcd3e4fp464410b4m1f17cd9f" sandbox="allow-scripts allow-forms" style="height: 0px !important; width: 0px !important; visibility: hidden !important;"></iframe><iframe tabindex="-1" aria-hidden="true" name="web-pixel-sandbox-CUSTOM-shopify-custom-pixel-LAX-fe9401c6w6fcd3e4fp464410b4m1f17cd9f" src="https://www.nialaya.com/wpm@fe9401c6w6fcd3e4fp464410b4m1f17cd9f/custom/web-pixel-shopify-custom-pixel@0411/sandbox/modern/pages/custom-bracelets-men?pb=0" id="web-pixel-sandbox-CUSTOM-shopify-custom-pixel-LAX-fe9401c6w6fcd3e4fp464410b4m1f17cd9f" sandbox="allow-scripts allow-forms" style="height: 0px !important; width: 0px !important; visibility: hidden !important;"></iframe></div>

<script src="//www.nialaya.com/cdn/shop/t/116/assets/uitouch.min.js?v=70940435807250494521744733625" defer=""></script>
<script src="//www.nialaya.com/cdn/shop/t/116/assets/udesign.js?v=135684886415554686201744733625" defer=""></script>
<script src="//www.nialaya.com/cdn/shop/t/116/assets/dom-to-image.min.js?v=167021762058212173841744733625" defer=""></script>
<script>
  function buyThis() {
    //alert('buyThis')
    var nowz = '04-24-2025 23:13';
    var handler = 'Your Custom Nialaya Bracelet<div>'+nowz+'</div>';    
    $('#loader').css('opacity','0.9');
    var imagery = '';
    var node = document.getElementById('parker');
    domtoimage.toPng(node).then(function (dataUrl) {
      var img = new Image();
      img.src = dataUrl;
      imagery = dataUrl;
    });
    var checkExist = setInterval(function() {
      if (imagery.length) {
        clearInterval(checkExist);
        var dataString = { 
          thisImg: imagery,
          price: $('#priceCount').html(),
          timestamp: handler,
          parker: '<div id="parkeroy">'+$('#potHolder').html()+'</div><div class="metaInfo">'+$('#sheller').html()+'<div class="tableMeta">'+$('#infoTag').html()+'</div><div class="timez">Created: '+nowz+'</div></div>'
        };

        console.log('dataString', dataString)
        $.ajax({
          type: "POST",
          data: dataString,
          url: "/apps/udesign/createproduct.php",
          success: function(response) {
            $('#loader').css('opacity','0');
            $('#putBox').css('display','none');
            $('#addIDhere').val(response);
            $('#cartForm').submit();
          }
        }); 
      }
    }, 1000);
  }
  $( "#cartForm" ).submit(function( event ) {
    $('#cart-summary-overlay').addClass('schnitz');
    setTimeout(function(){
      window.location.href='https://www.nialaya.com/cart';
    }, 1000);
  });

  
</script>
    
    

    <div class="wrapper-overlay"></div>
      <iframe height="0" width="0" style="display: none; visibility: hidden;"></iframe><script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>




  

    <!-- ub-speedy body ================================================== -->
<script type="text/javascript">
  var script_loaded=!1;function loadJSscripts(){if(!script_loaded){observer.disconnect(),script_loaded=!0,document.querySelectorAll("iframe.lazy").forEach(t=>{datasrc=t.dataset.src,null!=datasrc&&(t.src=datasrc)});var t=document.getElementsByTagName("script");for(i=0;i<t.length;i++)if(null!==t[i].getAttribute("data-src")&&(t[i].setAttribute("src",t[i].getAttribute("data-src")),delete t[i].dataset.src),"text/lazyload"==t[i].getAttribute("type")){for(var e=document.createElement("script"),a=0;a<t[i].attributes.length;a++){var n=t[i].attributes[a];e.setAttribute(n.name,n.value)}e.type="text/javascript",e.innerHTML=t[i].innerHTML,t[i].parentNode.removeChild(t[i]),t[i].parentNode.insertBefore(e,t[i])}var r=document.getElementsByTagName("link");for(i=0;i<r.length;i++)null!==r[i].getAttribute("data-href")&&(r[i].setAttribute("href",r[i].getAttribute("data-href")),delete r[i].dataset.href);document.dispatchEvent(new CustomEvent("asyncLazyLoad"))}}var activityEvents=["mousedown","mousemove","keydown","scroll","touchstart","click","keypress","touchmove"];activityEvents.forEach(function(t){window.addEventListener(t,loadJSscripts,!1)}),window.addEventListener?window.addEventListener("load",function(){},!1):window.attachEvent?window.attachEvent("onload",function(){}):window.onload=(t=>{});
</script>



<div id="shopify-block-AeHhSMHRscDBnTDlvW__15885745614559378752" class="shopify-block shopify-app-block"><div id="accessibly-config" style="display:none">
    {"themeColor":"#574CD5","iconColor":"#574CD5","showLogo":true,"topBottomPosition":10,"rightLeftPosition":10,"iconSize":"small","iconCustomSize":64,"position":"middle-right"}
</div>


</div><div id="shopify-block-AM0JIZ1hhYzgwcENia__11254466806377166470" class="shopify-block shopify-app-block">

<script>
var sizeChartsRelentless = window.sizeChartsRelentless || {};
sizeChartsRelentless.metafield = sizeChartsRelentless.metafield || {};
sizeChartsRelentless.blocks = sizeChartsRelentless.blocks || {};
</script>
</div>
